body {
    margin: 0;
    height: 100vh;
}

#main {
  display: flex;
  height: 100%;
  flex-flow: column;
}

#main.screenIsHorizontal {
flex-flow: row;
}

canvas {
    display: block;
}

.controlPanel {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

#buttonHolder {
    padding-top: 5px;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    flex-flow: column;
}

#buttonHolder.screenIsVertical {
    flex-flow: row;
}

.button {
    flex: 1 1 auto;
}
